---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/352559_PC?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '45'
      Akamai-Grn:
      - 0.cc813217.1723022422.13690dd7
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-07T10:56:00+02:00","EpochTime":1723020960,"WeatherText":"Partly
        sunny","WeatherIcon":3,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":18.4,"Unit":"C","UnitType":17},"Imperial":{"Value":65.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us","Link":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us"}]'
  recorded_at: Wed, 07 Aug 2024 09:20:22 GMT
recorded_with: VCR 6.2.0
