---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/352559_PC/historical/24?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '45'
      Akamai-Grn:
      - 0.da813217.1723022422.157c4176
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-07T11:02:00+02:00","EpochTime":1723021320,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":20.0,"Unit":"C","UnitType":17},"Imperial":{"Value":68.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us","Link":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang=en-us"},{"LocalObservationDateTime":"2024-08-07T10:02:00+02:00","EpochTime":1723017720,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":19.0,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/pl/bialystok/15-111/current-weather/352559_pc?lang[...]
